<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Program Duzenle</title>
</head>
<body>
	

	<%= form_for(@program) do |p|%>
	<%= p.label :title%><br />
	<%= p.text_field :title, :size =>"55x10" %><br />
	
	<%= p.label :content%><br />
	<%= p.text_area :content, :size =>"40x10" %><br /><br />
	
	<%= p.label :active%><br />
	<%= p.text_field :active, :size =>"1" %><br />
	
	<%= p.submit %>
	
	<% end %>
	
	<%= debug @program %>
	
</body>
</html>
